*{
    box-sizing: border-box;
}
.form{
    background-color: darkblue;
    max-width: 400px;
    margin: 12px auto;
    padding: 9px;
}
.inputs{
    background-color: white;
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border: 1px;
}
button{
    background-color: #355;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: 0px;
    color: white;
}